.heroSection {
  margin: 3rem 0 1.5rem 0;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logoSvg {
  width: 2.5rem;
  margin-right: 0.5rem;
}

.logoText {
  font-family: "bebas_neueregular", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}

.callToAction {
  display: none;
}

.formSection {
  max-width: 20rem;
  margin: 0 1rem;
}

.signInForm h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.signInForm label {
  display: block;
  margin-bottom: 0.5rem;
}

.signInForm input[type="text"],
.signInForm button[type="submit"] {
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.signInForm input[type="text"] {
  border: 1px solid #cecece;
}

.signInForm button[type="submit"] {
  font-weight: 600;
  background-color: #abeaff;
  border: none;
  padding: 0.75rem;
  margin-top: 0.15rem;
}

.signInForm button[type="submit"]:hover {
  background-color: #a3e7fd;
}

.signInForm button[type="submit"]:active {
  background-color: #a3e7fd;
}

.redirectLink {
  text-align: center;
}

.redirectLink a {
  text-decoration: none;
  color: #0077b6;
}

.redirectLink a:hover {
  text-decoration: underline;
}
