.footer {
  background-color: #00171f;
}

.footer nav {
  flex: 1;
}

.socialPara {
  display: none;
  color: #fff;
  font-size: 3rem;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  max-width: 25rem;
  margin: 2.5rem 1rem;
}

.socialLinks a {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  padding: clamp(0.5rem, 3vw, 0.75rem);
}

.socialLinks img {
  width: clamp(1.5rem, 6vw, 2.5rem);
}

.otherLinks {
  align-items: center;
  margin-bottom: 2rem;
}

.otherLinks a {
  display: block;
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.1rem);
  color: #fff;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.otherLinks a:hover {
  text-decoration: underline;
}

.copyrightStatement {
  text-align: center;
  color: #fff;
  padding: 0.75rem;
}

@media (min-width: 430px) {
  .socialLinks {
    margin: 3rem auto;
  }

  .otherLinks {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 800px) {
  .footerUl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
  }

  .socialLinks {
    justify-content: space-between;
    margin: 1.5rem 0;
  }

  .socialLinks img {
    width: 2rem;
  }

  .socialPara {
    display: block;
    font-weight: 600;
  }

  .otherLinks {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem;
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .footerUl {
    max-width: 80rem;
    justify-content: space-between;
    margin: 3rem 5rem;
  }
}

@media (min-width: 1400px) {
  .footerUl {
    margin: 3rem auto;
  }
}
